@import "tailwindcss";

@theme {
    --font-IRANSans-Medium:"IRANSans-Medium";
    --font-IRANSans-Light:"IRANSans-Light";
    --font-IRANSans-Bold:"IRANSans-Bold";

    --color-primary-orange:#f85a40;
    --color-primary-white:#fbfefb;
}

@font-face {
    font-family:IRANSans-Medium;
    font-display: swap;
    src: url(./font/IRANSans\(FaNum\)_Medium.ttf);
  }

  @font-face {
    font-family:IRANSans-Light;
    font-display: swap;
    src: url(./font/IRANSans\(FaNum\)_Light.ttf)
  }

  @font-face {
    font-family:IRANSans-Bold;
    font-display: swap;
    src: url(./font/IRANSans\(FaNum\)_Bold.ttf)
  }

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 30rem;
    background-color: #f85a40;
    transition: right 0.3s ease-in-out;
}

  /* Start Wave Animation */
  .hero_area {
    position: relative;
    background-color: transparent;
    margin-top: 4.55rem;
    
}

.waves {
    position: absolute;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
    bottom: 0;
    left: 0;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}



@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .hero_area{
      display: none;
    }
}
@media (max-width: 1025px) {
  .hero_area{
   top: 1.2rem;
  }
}
@media (max-width: 1440px) {
  .hero_area{
    margin-top: 6.5rem;
  }
}
 /* Finish Wave Animation */
  

  